.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.heading-group-h1 {
  max-width: 80%;
}

article {
  background-color: lightblue;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 7px;
}

#filters {
  background-color: cadetblue;
  display: inline-block;
}

#filters select {
  width: 90%;
  margin: 0.2em 5%;
}

@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: 0.1em 0.1em 0.1em 2em;
    float: none;
  }

  #filters select {
    width: 15em;
    margin: 0.2em 0.2em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }
}
